<div class="container">

    <div class="jumbotron jumbotron-fluid pt-3">
        <div class="container">
            <h1 class="display-4 fw-bold">ONE STOP MEDI SHOP New Dashboard</h1>
            <p class="lead">Welcome to E-COMMERCE STORE, your one-stop destination for all your shopping needs! At [Your Ecommerce Store Name], we're dedicated to bringing you the latest trends, top-quality products, and unbeatable customer service. Whether you're looking for fashion-forward clothing, cutting-edge electronics, or must-have home decor, we've got you covered.
            </p>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>View Quality Products N</h2>
            <p>Something here</p>
            <button class="btn btn-outline-light" type="button">Example button</button>
        </div>
    </div>

    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Competitive Prices & Offers</h2>
            <p>Something here</p>
            <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
    </div>

    </div>
</div>
